
main {
    background-color: hsl(207, 26%, 17%);
    min-height: 100vh;
    padding: 1rem 1rem;
    transition-duration: .2s;
}

@media all and (min-width: 700px) {
    main {
        padding: 1rem 4.5rem;
        transition-duration: .2s;
    }
}
