
.country button {
    background-color: hsl(209, 23%, 22%);
    margin: 1.5rem 0 4rem;
    padding: .4rem 1.5rem;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 7px rgb(27, 27, 27);
    cursor: pointer;
}

.country img {
    object-fit: cover;
    max-height: 400px;
    width: 100%;
}

.country h2 {
    font-size: 1.4rem;
    font-weight: 800;
    margin: 2rem 0 1.5rem;
}

.country section {
    margin: 2.5rem 0;
}

.country section p {
    font-size: .85rem;
    font-weight: 600;
    margin: .8rem 0;
}

.country section span {
    font-weight: 300;
}

.borderTag {
    font-size: .7rem;
    background-color: hsl(209, 23%, 22%);
    margin-right: .6rem;
    padding: .3rem 1rem;
    border-radius: 2px;
}

@media all and (min-width: 800px) {
    .country {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .country .flexBox {
        display: flex;
        align-items: center;
    }
}
