* {
    box-sizing: border-box;
}

.dark,
.dark select,
.dark ::placeholder,
.dark button {
    color: hsl(0, 0%, 100%);
}

.darkBG {
    background-color: hsl(207, 26%, 17%);
}

.darkEL {
    background-color: hsl(209, 23%, 22%);
}

.light,
.light select,
.light button {
    color: hsl(200, 15%, 8%)
}

.light ::placeholder {
    color: hsl(0, 0%, 52%);
}

.lightBG {
    background-color: hsl(0, 0%, 98%);
}

.lightEL {
    background-color: hsl(0, 0%, 100%);
}
